@import '../index.scss';
.shishi-all {
  $shishi-ratio: 1.67; //横五纵三
  $shishi-operate: $shishi-ratio / 2; //数据运营比例
  $shishi-titleLeft: $shishi-ratio / 12; // 标题加天气比例
  $shishi-map-x: 2; // 地图比例x方向
  * {
    -webkit-font-smoothing: subpixel-antialiased!important;
  }
  .common01-title {
    transform:perspective(1px) scaleY($shishi-ratio);
    top: pxrem(90px) !important;
    // font-weight: bold!important;
  }
  .common01-ft32 {
    transform:perspective(1px) scaleY($shishi-ratio);
  }
  .common01-ft36 {
    transform:perspective(1px) scaleY($shishi-ratio);
  }
  .common01-ft40 {
    transform:perspective(1px) scaleY($shishi-ratio);
  }
  // 线索汇聚
  .shishi-cluegather {
    padding: pxrem(66.8px) pxrem(40px)!important;
    .cluegather-wrap {
      padding: pxrem(384px) pxrem(96px) pxrem(160px) pxrem(78px)!important;
      .wrap-content {
        .marginBottom75 {
          margin-bottom: pxrem(152px)!important;
        }
        .item-list {
          margin-bottom: pxrem(150px)!important;
        }
      }
    }
  }
  // 选题展示
  .shishi-project {
    padding: pxrem(66.8px) pxrem(40px)!important;
    .project-wrap {
      padding: pxrem(384px) pxrem(96px) pxrem(160px) pxrem(78px)!important;
      .wrap-content {
        .marginBottom75 {
          margin-bottom: pxrem(152px)!important;
        }
        .item-list {
          margin-bottom: pxrem(133px)!important;
        }
      }
    }
  }
  // 发稿统计
  .shishi-releaseStatistics {
    padding: pxrem(66.8px) pxrem(40px)!important;
    .releaseStatistics-wrap {
      padding: pxrem(384px) pxrem(96px) pxrem(160px) pxrem(78px)!important;
      .wrap-content {
        .item-list {
          height: pxrem(140px * $shishi-ratio)!important;
          margin-bottom: pxrem(50px * $shishi-ratio)!important;
          .index {
            // height: pxrem(60px * $shishi-ratio)!important;
            // line-height: pxrem(60px * $shishi-ratio)!important;
          }
          .avatar {
            // height: pxrem(75px * $shishi-ratio)!important;
          }
        }
      }
    }
  }
  // 四块空屏
  .shishi-nonEditedSignal {
    padding: pxrem(66.8px) pxrem(40px)!important;
    .block-title {
      transform:perspective(1px) scaleY($shishi-ratio);
    }
  }
  .shishi-nonEditedArticle {
    padding: pxrem(66.8px) pxrem(40px)!important;
    .block-title {
      transform:perspective(1px) scaleY($shishi-ratio);
    }
  }
  .shishi-liveSignal {
    padding: pxrem(66.8px) pxrem(40px)!important;
    .img-icon {
      transform:perspective(1px) scaleY($shishi-ratio);
    }
  }
  .shishi-tvSignal {
    padding: pxrem(66.8px) pxrem(40px)!important;
  }
  // 石狮首页
  .shishi-index {
    padding: pxrem(66.8px) pxrem(40px)!important;
    .websitecontent-wrap {
      padding: pxrem(384px) pxrem(96px) pxrem(160px) pxrem(78px)!important;
      iframe {
        width: 1529px!important;
        height: 675px!important;
        transform-origin: left top;
        transform: perspective(1px) scale(0.22, 0.35);
      }
    }
  }
  // 数字报
  .shishi-igitalNewspaper {
    padding: pxrem(66.8px) pxrem(40px)!important;
    .websitecontent-wrap {
      padding: pxrem(384px) pxrem(96px) pxrem(160px) pxrem(78px)!important;
      .data-box {
        height: pxrem(730px * $shishi-ratio)!important;
        .left-title {
          top: pxrem(225px * $shishi-ratio)!important;
          transform:perspective(1px) scaleY($shishi-ratio);
          line-height: pxrem(60px * $shishi-ratio)!important;
        }
        .data-main {
          height: 100%;
          .left-icon {
            transform:perspective(1px) scaleY($shishi-ratio);
          }
          .right-icon {
            transform:perspective(1px) scaleY($shishi-ratio);
          }
          iframe {
            margin: pxrem(16px) 0 0 pxrem(75px)!important;
            height: 700px!important;
            width: 495px!important;
            transform-origin: left top;
            transform: scale(0.34, 0.33);
          }
        } 
      }
    }
  }
  // 运营数据
  .xy-operate {
    padding: pxrem(66.8px) pxrem(40px)!important;
    .operate-wrap {
      padding: pxrem(106px * $shishi-operate) pxrem(96px) pxrem(160px) pxrem(78px)!important;      
      .operate-box {
        .operate {
          height: pxrem(1382px * $shishi-operate)!important;
          padding-top: pxrem(68px * $shishi-ratio)!important;
          .operate-logo {
            transform:perspective(1px) scaleY($shishi-ratio)!important;
            margin-bottom: pxrem(152px * $shishi-operate)!important;
          }
          .operate-box-title {
            margin-bottom: pxrem(98px * $shishi-operate)!important;
            transform:perspective(1px) scaleY($shishi-ratio)!important;
          }
          .split {
            margin-bottom: pxrem(95px)!important;
            height: pxrem(8px * $shishi-operate * 2)!important;
          }
          .text {
            transform:perspective(1px) scaleY($shishi-ratio)!important;
            // margin-bottom: pxrem(85px)!important;
          }
        }
      }
      .data-statistics {
        .data-title-bar {
          margin-bottom: pxrem(386px * $shishi-operate)!important;
          .data-pre {
            height: pxrem(88px * $shishi-operate)!important;
          }
          .data-title {
            transform:perspective(1px) scaleY($shishi-ratio)!important;
          }
        }
        .data-content {
          .echart-left {
            transform:perspective(1px) scaleY($shishi-ratio)!important;
            .echart-center {
              img {
                margin-bottom: pxrem(30px * $shishi-operate)!important;
              }
            }
          }
          .datalist {
            transform:perspective(1px) scaleY($shishi-ratio)!important;
            .data-item {
              width: pxrem(940px);
              height: pxrem(140px);
              background: rgba(14,34,75,0.25);
              border: pxrem(2px) solid rgba(1, 150, 255, 0.3);
              margin-bottom: pxrem(96px * $shishi-operate)!important;
            }
          }
        }
      }
    }
    .operate-title {
      transform:perspective(1px) scaleY($shishi-ratio)!important;
    }
  }
  // 标题+天气
  .title-bar {
    .mt-42 {
      margin-top: pxrem(42px * $shishi-ratio)!important;
    }
    .common01-title {
      background-size: 100% 82% !important;
      .title-title {
        transform:perspective(1px) scaleY(1)!important;
      }
    }
    .weather-box {
      transform:perspective(1px) scaleY(12 * $shishi-titleLeft)!important;
      .today-weather {
        line-height: pxrem(54px * $shishi-ratio)!important;
      }
    }
  }
  
  // 记者连线
  .shishi-workmap {
    .common01-ft70 {
      transform:perspective(1px) scaleY($shishi-ratio);
    }
    .common01-ft58 {
      transform:perspective(1px) scaleY($shishi-ratio);
    }
    .common01-ft38 {
      transform:perspective(1px) scaleY($shishi-ratio);
    }
    padding-bottom: pxrem(53px * $shishi-ratio)!important;
    .reporter-map-wrap {
      height: 100%!important;
      margin-top: pxrem(31px * $shishi-ratio)!important;
      .reporter-map {
        width: calc(100% - 70px)!important;
        height: calc(100% - 70.14px)!important;
      }
      .reporter-list-wrap {
        width: pxrem(495px * $shishi-map-x)!important;
        top: pxrem(40px * $shishi-ratio)!important;
        right: pxrem(46px * $shishi-map-x)!important;
        .reporter-title {
          height: pxrem(78px * $shishi-ratio)!important;
          line-height: pxrem(78px * $shishi-ratio)!important;
        }
        .reporter-body {
          height: pxrem(800px * $shishi-ratio * 1.2)!important;
          .reporter-list {
            .avatar-box {
              width: pxrem(80px * $shishi-map-x)!important;
              height: pxrem(80px * $shishi-ratio)!important;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .member-name {
              // width: (38% * $shishi-map-x)!important;
              margin: 0 pxrem(40px * $shishi-map-x) 0 pxrem(21px * $shishi-map-x)!important;
              text-align: left;
              .name {
                margin-bottom: pxrem(20px * $shishi-ratio)!important;
              }
            }
            .connect {
              width: pxrem(55px * $shishi-map-x)!important;
              height: pxrem(55px * $shishi-ratio)!important;
              background: no-repeat center right;
              background-size: pxrem(55px) pxrem(55px);
              cursor: pointer;
              &.connect-audio {
                margin-right: pxrem(20px * $shishi-map-x)!important;
              }
            }
            .list-body {
              padding: pxrem(27.5px * $shishi-ratio) pxrem(30px * $shishi-map-x) pxrem(31.5px * $shishi-ratio)!important;
            }
            .border-line{
              width: 100%;
              height: pxrem(5px * $shishi-ratio)!important;
              background-size: 100%;
            }
          }
        }
        .no-data{
          width: 100%;
          height: pxrem(885px* $shishi-ratio)!important;
          font-size: pxrem(35px);
          transform:perspective(1px) scaleY($shishi-ratio)!important;
        }
      }
    }
  }
  .call-wrap {
    height: 100% !important;
  }
}
